# Q1. What is a database? Differentiate between SQL and NoSQL databases.

**Database:** A database is a software application that allows you to store, organize, and retrieve data. It is a structured collection of data that can be accessed, managed, and updated in various ways. Databases are essential for managing and processing large volumes of data in various industries, such as finance, healthcare, e-commerce, and more.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of databases.

**SQL Databases:** SQL databases are relational databases, which means that they use a tabular structure with rows and columns to store data. SQL databases have a fixed schema, meaning that the structure of the data is defined beforehand, and the data must conform to that structure. Examples of SQL databases include MySQL, Oracle, and PostgreSQL.

**NoSQL Databases:** NoSQL databases, on the other hand, are non-relational databases that do not use the traditional table-based schema. NoSQL databases are schema-less, meaning that data can be added to the database without defining the structure beforehand. Instead, NoSQL databases use various data models, such as key-value, document, graph, or column-family. Examples of NoSQL databases include MongoDB, Cassandra, and Redis.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL: DDL stands for Data Definition Language, and it is a subset of SQL that is used to define and manage the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, views, indexes, and stored procedures. Some of the commonly used statements are:

**CREATE:** The CREATE statement is used to create a new database object, such as a table or view. For example, the following statement creates a new table called "employees" with four columns:

In [ ]:
CREATE TABLE employees (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  age INT,
  salary DECIMAL(10, 2)
);

2. **DROP:** The DROP statement is used to remove an existing database object. For example, the following statement drops the "employees" table:

In [ ]:
DROP TABLE employees;

3. **ALTER:** The ALTER statement is used to modify the structure of an existing database object, such as a table. For example, the following statement adds a new column called "department" to the "employees" table:

In [ ]:
ALTER TABLE employees ADD COLUMN department VARCHAR(50);

4. **TRUNCATE:** The TRUNCATE statement is used to remove all data from an existing table, but it does not remove the table structure. For example, the following statement removes all data from the "employees" table:

In [ ]:
TRUNCATE TABLE employees;

# 3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML: DML stands for Data Manipulation Language, and it is a subset of SQL that is used to manipulate the data in a database. DML statements are used to insert, update, and delete data in a table. The following are some commonly used DML statements:

1. **INSERT:** The INSERT statement is used to insert new data into a table. For example, the following statement inserts a new record into the "employees" table:

In [ ]:
INSERT INTO employees (id, name, age, salary, department)
VALUES (1, 'John Doe', 30, 50000, 'IT');

2. **UPDATE:** The UPDATE statement is used to modify existing data in a table. For example, the following statement updates the salary of an employee with an ID of 1 in the "employees" table:

In [ ]:
UPDATE employees
SET salary = 60000
WHERE id = 1;

3. **DELETE:** The DELETE statement is used to remove data from a table. For example, the following statement removes an employee with an ID of 1 from the "employees" table:

In [ ]:
DELETE FROM employees
WHERE id = 1;

# Q4. What is DQL? Explain SELECT with an example.

DQL: DQL stands for Data Query Language, and it is a subset of SQL that is used to query and retrieve data from a database. DQL statements are used to retrieve data from one or more tables in a database. The following is a commonly used DQL statement:

SELECT: The SELECT statement is used to retrieve data from one or more tables in a database. For example, the following statement retrieves all data from the "employees" table:

In [ ]:
# This statement returns all the data in the "employees" table, including the ID, name, age, salary, and department of each employee.
SELECT * FROM employees;

In [ ]:
# This statement returns only the name and salary data for each employee in the "employees" table.
SELECT name, salary FROM employees;

In [ ]:
# This statement returns only the data for employees with a salary greater than 50000.
SELECT * FROM employees
WHERE salary > 50000;

# Q5. Explain Primary Key and Foreign Key.

**A primary key** is a column or set of columns in a table that uniquely identifies each row in the table. A primary key must have a unique value for each row and cannot be null. It is used to enforce data integrity and to establish relationships between tables. In most databases, a primary key is automatically indexed for faster retrieval of data.

**A foreign key** is a column or set of columns in one table that refers to the primary key of another table. The foreign key establishes a relationship between the two tables and is used to enforce referential integrity, which ensures that the data in the foreign key column of one table corresponds to the data in the primary key column of the other table.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Connecting MySQL to Python: In Python, the ___mysql.connector___ package provides a way to connect to a MySQL database and execute SQL statements

The **cursor()** method is used to create a cursor object that you can use to execute SQL statements. The cursor object provides a way to traverse and manipulate the data returned by a SQL query. Here is an example of how to create a cursor object:

In [ ]:
import mysql.connector

# create a connection to a MySQL database
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

# create a cursor object
mycursor = mydb.cursor()

The **execute()** method is used to execute a SQL statement using the cursor object. You can use this method to execute any SQL statement, including SELECT, INSERT, UPDATE, and DELETE statements. Here is an example of how to execute a SELECT statement:

In [ ]:
# execute a SELECT statement using the cursor object
mycursor.execute('SELECT * FROM employees')

# iterate through the rows returned by the query
for row in mycursor:
    print(row)

# Q7. Give the order of execution of SQL clauses in an SQL query.

In an SQL query, the order of execution of SQL clauses is as follows:

**FROM:** This clause specifies the table or tables from which the data will be selected.

**JOIN:** This clause is used to combine rows from two or more tables based on a related column between them.

**WHERE:** This clause is used to filter rows based on a specified condition.

**GROUP BY:** This clause is used to group the selected rows based on one or more columns.

**HAVING:** This clause is used to filter groups based on a specified condition.

**SELECT:** This clause is used to select the columns to include in the result set.

**DISTINCT:** This clause is used to remove duplicates from the result set.

**ORDER BY:** This clause is used to sort the result set based on one or more columns.

**LIMIT:** This clause is used to limit the number of rows returned in the result set.